{{- $title := cond .IsHome .Site.Title .Title -}}
{{- $desc := "" -}}

{{- if .Description -}}
  {{- $desc = .Description -}}
{{- else if .Summary -}}
  {{- $desc = .Summary | plainify | truncate 200 -}}
{{- else if .Site.Params.description -}}
  {{- $desc = .Site.Params.description -}}
{{- end -}}

<meta property="og:site_name" content="{{ .Site.Title | htmlEscape }}">
<meta property="og:title" content="{{ $title | htmlEscape }}">
{{ with $desc }}
<meta property="og:description" content="{{ . | htmlEscape }}">
{{ end }}
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}">

{{- $ogImage := "" -}}
{{- if .Params.featuredimage -}}
  {{- $ogImage = .Params.featuredimage | absURL -}}
{{- else if .Params.image -}}
  {{- $ogImage = .Params.image | absURL -}}
{{- else if .Site.Params.og_image -}}
  {{- $ogImage = .Site.Params.og_image | absURL -}}
{{- end -}}

{{ with $ogImage }}
<meta property="og:image" content="{{ . }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
{{ end }}