<meta name="twitter:card" content="summary_large_image">

{{- $title := cond .IsHome .Site.Title .Title -}}
{{- $desc := "" -}}

{{- if .Description -}}
  {{- $desc = .Description -}}
{{- else if .Summary -}}
  {{- $desc = .Summary | plainify | truncate 200 -}}
{{- else if .Site.Params.description -}}
  {{- $desc = .Site.Params.description -}}
{{- end -}}

<meta name="twitter:title" content="{{ $title | htmlEscape }}">
{{ with $desc }}
<meta name="twitter:description" content="{{ . | htmlEscape }}">
{{ end }}

{{- $twImage := "" -}}
{{- if .Params.featuredimage -}}
  {{- $twImage = .Params.featuredimage | absURL -}}
  {{- with .Resources.GetMatch .Params.featuredimage -}}
    {{- $twImage = .Permalink -}}
  {{- end -}}
{{- else if .Resources.GetMatch "cover.*" -}}
  {{- with .Resources.GetMatch "cover.*" -}}
    {{- $twImage = .Permalink -}}
  {{- end -}}
{{- else if .Params.image -}}
  {{- $twImage = .Params.image | absURL -}}
{{- else if .Site.Params.twitter_image -}}
  {{- $twImage = .Site.Params.twitter_image | absURL -}}
{{- end -}}

{{ with $twImage }}
<meta name="twitter:image" content="{{ . }}">
{{ end }}

{{ with .Site.Params.twitter_site }}
<meta name="twitter:site" content="{{ . }}">
{{ end }}

{{ with .Site.Params.twitter_creator }}
<meta name="twitter:creator" content="{{ . }}">
{{ end }}