<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  {{ block "head" . }}
    {{ partial "head.html" . }}
  {{ end }}
</head>

<body class="{{ if .IsHome }}home{{ else }}not-home{{ end }}">

    <!-- HEADER -->
    {{ partial "header.html" . }}

    <!-- MAIN CONTENT AREA -->
    <main class="page-container">
        {{ block "main" . }}{{ end }}
    </main>

    <!-- IMAGE LIGHTBOX -->
    <div class="lightbox" hidden>
      <button class="lb-close" aria-label="Close">×</button>
      <img class="lb-image" alt="">
    </div>

    <!-- FOOTER -->
    {{ partial "footer.html" . }}

    <!-- Theme JS -->
    {{ $js := resources.Get "js/theme.js" | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}"></script>

    {{ $copy := resources.Get "js/copy.js" | minify | fingerprint }}
    <script src="{{ $copy.RelPermalink }}" defer></script>


    {{ $single := resources.Get "js/single.js" | minify | fingerprint }}
    <script src="{{ $single.RelPermalink }}" defer></script>

    {{ $timeago := resources.Get "js/timeago.js" | minify | fingerprint }}
    <script src="{{ $timeago.RelPermalink }}" defer></script>

</body>
</html>
