{{- $src := .Destination -}}
{{- $alt := .Text | default "" -}}
{{- $title := .Title | default "" -}}

{{- /* 1. Try to find the image in the Leaf Bundle */ -}}
{{- $img := .Page.Resources.GetMatch $src -}}

{{- /* 2. If not found in bundle, try global assets */ -}}
{{- if not $img -}}
  {{- $img = resources.Get $src -}}
{{- end -}}

{{- /* 3. Set the final source URL */ -}}
{{- if $img -}}
  {{- $src = $img.RelPermalink -}}
{{- else -}}
  {{- $src = $src | safeURL -}} {{- /* Fallback for external URLs or static folder */ -}}
{{- end -}}

{{- $isSquare := false -}}
{{- if $img }}
  {{- if eq $img.Width $img.Height }}
    {{- $isSquare = true -}}
  {{- end }}
{{- end }}

<figure class="md-image {{ if $isSquare }}is-square{{ end }} {{ if $title }}size-{{ $title }}{{ end }}" data-zoom>
  <img
    src="{{ $src }}"
    alt="{{ $alt }}"
    loading="lazy"
    decoding="async"
  />
</figure>